* {
    box-sizing: border-box;
}




body {
    margin: 0;
}


main {
    min-height: 100vh;
}

header {
    background: #000000;
    position: fixed;
    width: 100%;
    top: 0;
    padding: 10px 15px 5px 15px;
}

navbar {
    margin-left: 30px;
    margin-bottom: 10px;
    display: inline-block;
    overflow: auto;
}


navbar a {
    color: white;
    text-decoration: none;
    margin-right: 20px;
    font-size: 25px;
}

navbar a:hover {
    color: #ff0000;
}


footer {
    min-height: 40px;
    background: #000000;
    text-align: center;
    color: aliceblue;
    padding-top: 10px;
}


p {
    line-height: 150%;
    text-indent: 30px;
}

li {
    margin-top: 10px;
    color: #000000;
    font-size: 30px;
    padding-left: 15px;
    list-style-image: linear-gradient(#000000, #ffffff)
}



h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {
    font-size: 270%;
    font-style: Arial;
}

h2 {
    font-size: 200%;
}

h3 {
    font-style: italic;
    color: #ffffff;
}


section {
    padding: 90px 15%;
    text-align: center;
}

.video-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.video {
    flex: 1;
    max-width: 49%;
}

.center {
    width: 100%;
    display: table;
}

.leftk {
    display: table-cell;
}

.rightk {
    display: table-cell;
    text-align: right;
    vertical-align: middle;
}

.spatiugol {
    padding-bottom: 0;
    color: #ffffff;
}

.logo {
    height: 50px;
}

.logo {
    width: 42px;
}

#index {
    background: linear-gradient(#00000040, #0000008a), url('../images/index.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    width: auto;
    height: 150%;
}



.background-ajustat {
    width: auto;
    height: 100%;
}

.culoare {
    background-color: #53372C;
    padding-top: 0;
    padding-bottom: 0;
}


.margine {
    background-color: #666666;
    padding-top: 0;
}

.index-info {
    margin-top: 25vh;
    text-align: center;
}

.vertical-column {
    display: flex;
    flex-direction: column;
    text-orientation: mixed;
    font-size: large;
    padding-left: 90px;
    padding-right: 90px;
}


.main-despre {
    background: linear-gradient(#ffffffa9, #ffffffa9), url(../images/despre.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
    background-attachment: fixed;
}

.text-color {
    color: rgb(0, 0, 0);
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 10px;
}

h1-colorgray {
    color: #666666;
}

.h3-size {
    font-size: 25px;
}

.index-info h1 {
    font-size: 350%;
    color: white;
    border: 2px solid gray;
    display: inline-block;
    padding: 20px;
    border-radius: 5px;
    background-color: #000000;
    background: linear-gradient(#0000008d, #0000008e);
}

.centered {
    text-align: center;
}


.harta {
    width: 100%;
    height: 40vh;
}


.row {
    overflow: auto;
    border: 2px solid antiquewhite;
    border-radius: 5px;
}

[class^="col-"] {
    float: left;
    padding: 0px 10px;
}

.col-50 {
    width: 50%;
}

.contacte,
.cform {
    border: 2px solid gray;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.336);
    padding: 5px 5%;
    height: 325px;
    font-size: 20px;
}


.cform input,
.cform textarea {
    width: 100%;
    font-size: 14px;
    font: italic;
    margin-bottom: 10px;
    padding: 4px 6px;
}

#hamburger {
    color: white;
    font-size: 20px;
    position: absolute;
    right: 22px;
    top: 24px;
    cursor: pointer;
    display: none;
}


@media (max-width: 800px) {

    section {
        padding: 90px 10px;
    }

    .index-info h1 {
        font-size: 250%;
    }

    .text-color {
        color: rgb(0, 0, 0);
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px;
    }

    .vertical-column {
        display: flex;
        flex-direction: column;
        text-orientation: mixed;
        font-size: large;
        padding-left: 10px;
        padding-right: 10px;
    }


    [class^="col-"] {
        width: 100%;
    }

    navbar a {
        display: none;
    }

    navbar.mobile a {
        display: block;
        text-align: center;
        margin-top: 12px;
    }

    navbar {
        display: block;
    }

    #hamburger {
        display: block;
    }

}